.dashboardContainer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  width: 100%;
}

.content h2 {
  color: #3a0063;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
