.dashboardContainer {
  display: flex;
  height: 100vh;
}

.content {
  padding: 80px 20px 20px 80px;
  /* margin-left: 60px; */
  width: 100%;
}

.content h2 {
  color: #55025d;
}

.cards {
  display: flex;
  gap: 20px;
}
