.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

thead tr {
  border-radius: 10px;
}

.th {
  background-color: #3a0063;
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
}

.td {
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 14px;
  color: #333;
}

.tr {
  background-color: #f9f9f9;
}

.tr:hover {
  background-color: #f1f1f1;
}

.editBtn,
.deleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: solid 2px black;
  border-radius: 3px;
}

.editBtn {
  color: #2f0050;
  margin-right: 5px;
}

.deleteBtn {
  color: #d10000;
}

.listbtn {
  background-color: #3a0063;
}

.editBtn:hover,
.deleteBtn:hover {
  opacity: 0.8;
}

.td div {
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 2px;
}

.pending {
  background-color: #e5881a;
}

.delivered {
  background-color: #12ae51;
}

.canceled {
  background-color: #dc3545;
}

@media (max-width: 768px) {
  .table,
  .th,
  .td {
    font-size: 12px;
    padding: 8px;
  }
}
