.summaryContainer {
  background-color: #fff;
  display: flex;
  justify-content: right;
  text-align: left;
  margin-top: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.row {
  margin-bottom: 1rem;
}

.address {
  margin: 0.5rem 2rem 2rem 0;
  width: 15rem;
}

.info {
  margin: 0.5rem 0 2rem 0;
  width: 15rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-left: solid 2px rgb(183, 183, 183);
  border-right: solid 2px rgb(183, 183, 183);
}

.amount {
  padding-right: 2rem;
}

.payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: bold;
  color: black;
}

.mode {
  margin: 0.5rem 2rem 2rem 0;
  padding-left: 2rem;
  width: 15rem;
}
