.sidebar {
  background-color: #3a0063;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.sidebar a {
  text-decoration: none;
  gap: 1rem;
}

.closed {
  width: 0;
  overflow: hidden;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menuItem:hover,
.active {
  background-color: #441962;
  color: gold;
  border-left: solid 3px gold;
}

.icon {
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
