.sidebar {
  background-color: #3b0059;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: width 0.3s ease;
  overflow: hidden;
  margin-top: 3.5rem;
}

.sidebar a {
  text-decoration: none;
  gap: 1rem;
}

.open {
  width: 10rem;
}

.closed {
  width: 0;
  overflow: hidden;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menuItem:hover {
  background-color: #50106e;
}

.active {
  background-color: #50106e;
}

.icon {
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
