.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  transition: width 0.3s;
}

.main {
  flex-grow: 1;
  transition: margin-left 0.3s;
  overflow: hidden;
}

.sidebar-open .main {
  margin-left: 10rem;
}

.sidebar-closed .main {
  margin-left: 0;
}
